<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoadExtremeParkServlet</servlet-name>
        <servlet-class>com.cb006215.servlet.extremepark.LoadExtremeParkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayExtremeEventServlet</servlet-name>
        <servlet-class>com.cb006215.servlet.extremepark.PayExtremeEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadLockerReservationServlet</servlet-name>
        <servlet-class>com.cb006215.servlet.locker.LoadLockerReservationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LockerReservationServlet</servlet-name>
        <servlet-class>com.cb006215.servlet.locker.LockerReservationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LockerReuseServlet</servlet-name>
        <servlet-class>com.cb006215.servlet.locker.LockerReuseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAdminHomeServlet</servlet-name>
        <servlet-class>com.cb006215.servlet.login.LoadAdminHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAdminLoginServlet</servlet-name>
        <servlet-class>com.cb006215.servlet.login.LoadAdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCustomerHomeServlet</servlet-name>
        <servlet-class>com.cb006215.servlet.login.LoadCustomerHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.cb006215.servlet.login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.cb006215.servlet.login.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadPhotoStallServlet</servlet-name>
        <servlet-class>com.cb006215.servlet.photo.LoadPhotoStallServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadReimburseServlet</servlet-name>
        <servlet-class>com.cb006215.servlet.ticket.LoadReimburseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadTicketIssueServlet</servlet-name>
        <servlet-class>com.cb006215.servlet.ticket.LoadTicketIssueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadTicketListServlet</servlet-name>
        <servlet-class>com.cb006215.servlet.ticket.LoadTicketListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReimburseServlet</servlet-name>
        <servlet-class>com.cb006215.servlet.ticket.ReimburseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketIssueServlet</servlet-name>
        <servlet-class>com.cb006215.servlet.ticket.TicketIssueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketLoginServlet</servlet-name>
        <servlet-class>com.cb006215.servlet.ticket.TicketLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadTopUpServlet</servlet-name>
        <servlet-class>com.cb006215.servlet.topup.LoadTopUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopUpServlet</servlet-name>
        <servlet-class>com.cb006215.servlet.topup.TopUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhotoStallServlet</servlet-name>
        <servlet-class>com.cb006215.servlet.photo.PhotoStallServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttractionServlet</servlet-name>
        <servlet-class>com.cb006215.servlet.attraction.AttractionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAttractionServlet</servlet-name>
        <servlet-class>com.cb006215.servlet.attraction.LoadAttractionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadExtremeParkServlet</servlet-name>
        <url-pattern>/LoadExtremeParkServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayExtremeEventServlet</servlet-name>
        <url-pattern>/PayExtremeEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadLockerReservationServlet</servlet-name>
        <url-pattern>/LoadLockerReservationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LockerReservationServlet</servlet-name>
        <url-pattern>/LockerReservationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LockerReuseServlet</servlet-name>
        <url-pattern>/LockerReuseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAdminHomeServlet</servlet-name>
        <url-pattern>/LoadAdminHomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAdminLoginServlet</servlet-name>
        <url-pattern>/LoadAdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCustomerHomeServlet</servlet-name>
        <url-pattern>/LoadCustomerHomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadPhotoStallServlet</servlet-name>
        <url-pattern>/LoadPhotoStallServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadReimburseServlet</servlet-name>
        <url-pattern>/LoadReimburseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadTicketIssueServlet</servlet-name>
        <url-pattern>/LoadTicketIssueServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadTicketListServlet</servlet-name>
        <url-pattern>/LoadTicketListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReimburseServlet</servlet-name>
        <url-pattern>/ReimburseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketIssueServlet</servlet-name>
        <url-pattern>/TicketIssueServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketLoginServlet</servlet-name>
        <url-pattern>/TicketLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadTopUpServlet</servlet-name>
        <url-pattern>/LoadTopUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopUpServlet</servlet-name>
        <url-pattern>/TopUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhotoStallServlet</servlet-name>
        <url-pattern>/PhotoStallServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttractionServlet</servlet-name>
        <url-pattern>/AttractionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAttractionServlet</servlet-name>
        <url-pattern>/LoadAttractionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
